
    <section>
        <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
          <div class="navigation-pic-content ">
          <h2>Visionary Team</h2>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">About Us</a></li>
              <li class="breadcrumb-item active" aria-current="page">Visionary Team</li>
            </ol>
          </nav>  
        </div>
      </div>
      </section>


      <section>
        <div class="container-fluid director"> 
            <div class="container">
    
            
                <div class="row">
    
                <div class="col-md-3 text-center">
                <img src="/img/execution/director.jpg" class="pic rounded-circle img-fluid" alt="">
              </div>
    
              <div class="col-md-9">
                <div class="name">
                    Dr. Rhymend Uthariaraj
                </div>
                <div class="title">
                  Founder
                </div>
                <hr>
                <p>
                  A visionary who always trusted that education can be the crucial factor in improving the socio economic status of people, went ahead in proving it by establishing many educational organizations for the poor and women. He Founded the Seethakathi Trust, Est. 1967 and All India Islamic Foundation (AIIF) Est.1979 to ensure the poor and deprived are benefited in the form of education . A total of 12 Educational Institutions comprising of a leading Engineering University, a Women’s College, an Arabic college for men, 2 boys schools, 3 girls schools, a women nursing college, a teachers training institute, B. Ed college for women and 2 hospitals and orphanages in both urban and rural areas in the State of Tamil Nadu are his contribution to the society with the only motive of providing quality education to the poor
                </p>
              </div>
    
              </div>
            </div>
          </div>
      </section>


      <section id="cdoe-team" class="container">
          <div class="">
            <h3>CDOE Team</h3>
            <hr>
          </div>

          <div class="row row-space">
              <div class="col-md-3">
                <figure>
                    <img style="margin-left: 15%;" src="/img/execution/DR.A.JAYA.jpg" class="profile-imgs" alt="">
                    <figcaption>
                        <p class="text-center">Dr. A. Jaya
                            <br>
                            <span>Professor & Deputy Director</span>
                        </p>

                    </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure>
                    <img style="margin-left: 15%;" src="/img/execution/MR.A.SALMANAYAZ.jpg" class="profile-imgs" alt="">
                    <figcaption>
                        <p class="text-center">Mr. Salman Ayaz
                            <br>
                            <span>Asst. Professor & Assistant</span>
                        </p>

                    </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure>
                    <img style="margin-left: 15%;" src="/img/execution/V.M.NIAZAHAMED.jpg" class="profile-imgs" alt="">
                    <figcaption>
                        <p class="text-center">Mr. V. M. Niaz Ahamed
                            <br>
                            <span>Asst. Professor & Assistant Director</span>
                        </p>

                    </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure>
                    <img style="margin-left: 15%;" src="/img/execution/Dr.S.Saravanan.jpg" class="profile-imgs" alt="">
                    <figcaption>
                        <p class="text-center">Dr.S.Saravanan
                            <br>
                            <span>Asst. Professor & Assistant Director</span>
                        </p>

                    </figcaption>
                </figure>
              </div>
          </div>
      </section>


      <section id="cdoe-team" class="container">
        <div class="">
          <h3>Planning & Monitoring Committee</h3>
          <hr>
        </div>

        <div class="row row-space">
            <div class="col-md-3">
              <figure>
                  <img style="margin-left: 15%;" src="/img/execution/DR.LATHATAMILSELVAN.jpg" class="profile-imgs" alt="">
                  <figcaption>
                      <p class="text-center">Dr. Latha Tamilselvan
                          <br>
                          <span>Professor & Director
                            Data Centre
                            
                            </span>
                      </p>

                  </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure>
                  <img style="margin-left: 15%;" src="/img/execution/Dr.C.Tharini.jpg" class="profile-imgs" alt="">
                  <figcaption>
                      <p class="text-center">Dr. C. Tharini
                          <br>
                          <span>Professor & HoD ECE</span>
                      </p>

                  </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure>
                  <img style="margin-left: 15%;" src="/img/execution/DR.SHARMILASANKAR.jpg" class="profile-imgs" alt="">
                  <figcaption>
                      <p class="text-center">Dr. Sharmila Sankar
                          <br>
                          <span>Professor/CSE</span>
                      </p>

                  </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure>
                  <img style="margin-left: 15%;" src="/img/execution/DR.AISHABANU.jpg" class="profile-imgs" alt="">
                  <figcaption>
                      <p class="text-center">Dr. W.Aisha Banu
                          <br>
                          <span>Professor/CSE</span>
                      </p>

                  </figcaption>
              </figure>
            </div>
        </div>
    </section>

   