

<section>
  <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
    <div class="navigation-pic-content ">
    <h2>People - MCA</h2>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Programmes Offered</a></li>
        <li class="breadcrumb-item"><a href="#">MCA</a></li>
        <li class="breadcrumb-item active" aria-current="page">People</li>
      </ol>
    </nav>  
  </div>
</div>
</section>


<div class="wm-main-content">
  <div class="wm-main-section">
      <div class="container">
          <!----------- Department People ---------->
          <div class="row row-space">
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr-Venkatesan-Selvam.jpg" alt="Chancellor" title="chancellor">
                  <figcaption>
                      <p class="text-center">Dr. Venkatesan Selvam <br><span class="designation">Dean</span></p>
                  </figcaption>
              </figure> 
              </div>
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/MR.S.PAKKIRMOHIDEEN.jpg" alt="Chancellor" title="chancellor">
              <figcaption>
                  <p class="text-center">Dr. S.Pakkir Mohideen <br><span class="designation">HoD</span></p>
              </figcaption>
              </figure> 
              </div>
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr.-A.K.Reshmy-1.jpg" alt="Chancellor" title="chancellor">
                  <figcaption>
                      <p class="text-center">Dr. A.K. Reshmy <br><span class="designation">Programme Coordinator</span></p>
                  </figcaption>
                  </figure> 
              </div>
          </div>
          <!----------- Course Coordinators ---------->
              <div class="row space">
                  <div class="col-md-12 wm-editore-text">
                      <h2 class="wm-color vision-head wm-left-border row-space">Course Coordinators</h2>
                  </div>
              </div>       

              <div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/MS.A.SAGAYASUGANYA-MCA.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr. A. Sagaya Suganya</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. A. Sagaya Suganya received her Ph.D in Graph Theory at the University of Madras. She has published around 5 papers in reputed Journals. Her research interests are related to Combinatorics, Graph Theory, Game Theory on Dynamical Systems and Networking.  To her credit she has presented papers in various International and National Conference.  She has served as resource person and delivered lectures in Induction Training Programmes. An extremely motivated and passionate mentor having a wide range of experience. Dr. A. Sagaya Suganya is a focussed mentor on innovative teaching and adaptive to recent teaching and learning techniques through educational technology. Dedicated and passionate in all tasks and has a strong belief in success through hardwork. Currently she is working as an Assistant Professor in the Department of Mathematics & Actuarial Science. She has a tenure of 13 years of teaching experience and capable of handling students with various interpersonal skills</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679084058" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679084058</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr.A.K.ASHFAUK-AHAMED-MCA.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr. A.K. Ashfauk Ahamed</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. A.K. Ashfauk Ahamed is an Assistant Professor in the School of Computer, Information, and Mathematical Sciences in the Department of Computer Applications at BS Abdur Rahman Crescent Institute of Science and Technology, Chennai. 
I am basically from Coimbatore. I did myPh.D from Karapagam University, Coimbatore in the year 2020 and MCA from Dr. G.R.Damodharan College of Science, Coimbatore in the year 2008.
My research area is Wireless Sensor Networks and Cloud Computing and right now I am guiding a research scholar. I have publications in both international and national level. 
I have 11+ teaching and IT experience. I was playing the role of Junior Developer for a company and I was working on ACER and LMW projects.
Received IBM Cloud computing practitioner and instructor and Enterprise Design Thinking practitioner award from IBM.
</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679083619" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679083619</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr.V.J.Sowmya-MCA.gif" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr. Velappa Jayaraman Sowmya</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. Velappa Jayaraman Sowmya is an Assistant Professor in the School of Computer, Information, and Mathematical Sciences in the Department of Computer Applications at BS Abdur Rahman Crescent Institute of Science and Technology, Chennai. 
She won the Prestigious university merit scholarship at Rome University, Italy. she obtained her Ph.D. degree from the sensorial laboratory, Electronics Engineering department at the University of TorVergata, Rome, Italy, in 2018.
Her area of research interest isBioComputing, Medical Data Analysis, Material Science and Cloud Computing.
She has done M.Sc. (Computer Technology) from PSG College of Technology, Coimbatore and an M.Phil. (CS) at Periyar University, Salem. During her study, she has won various awards for academic achievements and she was the University Gold Medallist in M. Phil computer science.
She has been playing the role of Knowledge partner for a Start-up company and advisor for Non-Profit organizations who engaged in the field of Education and Social development.
</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679083721" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679083721</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/DR.KABEER-MCA.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr.Kabeer.M</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Associate Professor</small></h3>
  <p>Dr. Kabeer.M, has received his Doctoral Degree in Modeling of Optoelectronics Devices at Anna University, Chennai. He has published around 3 papers in reputed Journals. His research interests are related to Optoelectronics device modelling, Wired and Wireless computer networks, Data mining, Internet of Things. He is coordinating the Cisco Local Academy of
B.S.Abdur Rahman Crescent Institute of Science and Technology from 2002 onwards. He is a CCNA Certified Professional and a Cisco Certified Network Instructor to conduct the Cisco Academic Courses for CCNA certification. Enthusiastic and hard worker in all the tasks and has a strong belief in success through honesty and dedicated work. Currently he is working as an Associate Professor in the Department of Information Technology. He has 10 years of industrial experience and 16 years of teaching experience capable of handling students of any category.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679083786" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679083786</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr.-A.K.Reshmy-1.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr.A.K.Reshmy</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. A.K. Reshmy, is serving as Assistant Professor in the School of Computer, Information and Mathematical Sciences in B.S. Abdur Rahman Crescent Institute of Science and Technology, Chennai. She has more than 17 years of experience in teaching and research. She has received her Master of Engineering in Systems Engineering and Operations Research from College of Engineering, Guindy, Anna University, Chennai, India. She is a recipient of gold medal for securing first rank in Master of Engineering. She received Professor T.R. Natesan Endowment Award (Gold Medal-Instituted by Operational Research Society of India-Chennai Chapter). She has completed her doctorate (Ph.D in Information and Communication Engineering) from Anna University in the field of Big Data. Her current research focus is on Data Science, Machine Learning. To her credit she has published papers in Scopus Indexed Journal, presented papers in International Conferences and has filed patent. She has served as resource person and chaired conference session. She creates a sense of community and belonging in the classroom. She has her own love of learning and inspires students with her passion for education. Her enthusiastic and caring sets high expectations for all students.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679083844" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679083844</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/V.Shenbagapriya.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr. V Shenbaga Priya</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. V Shenbaga Priya obtained her Ph.D. in Computer Science from Bharathiar University in the year Jan 2020. She is currently working as Assistant Professor in the Department of Computer Applications at BS AbdurRahman Crescent Institute of Science and Technology,Chennai.She has done M.Sc. (CS) from Madras University and M.Phil (CS) from Annamalai University. She has over 6+ years of teaching experience and 4+ years of industry experience. Her areas of interest include Image Processing, Remote Sensing, Internet of Things and Software Engineering.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679083963" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679083963</u></a></p></div>
                      </div><div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/Dr.P.Amudhavalli.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head">Dr.P.Amudhavalli</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>I am Dr.P.Amudhavalli, Assistant Professor in Department of Computer Applications, B S Abdur Rahman Crescent Institute of Science and Technology, Chennai. I  have completed my MCA degree at University of Madras, M.E (CSE) degree at Sri Muthukumaran Institute of Science and Technology affiliated to Anna University and Ph.D degree in the domain Cloud Computing at St.Peter’s Institute of Higher Education and Research. I have 17 years of Teaching Experience. I have published 11 research works in various Scopus indexed journals and  three patents in Indian Patent. I have presented 25 papers in International and National Conferences and organized number of Workshops, seminar, FDP etc. Received the “Best Teacher award 2014” from the Sri Muthukumaran Institute of Technology, Chennai and “Silver award” from Infosys Campus Connect Partnership Level Certification.</p></div>
                      </div> 
      </div>
</div>
</div>

